<div class="bg-base-200 collapse collapse-arrow">
  <input type="checkbox" class="peer" />
  <div class="collapse-title">
    <div class="grid grid-cols-2 gap-4 items-center h-25 w-full">
      <div class="flex justify-start space-x-4">
        <div
          id="{{device.name}}-status"
          sse-swap="{{device.name}}-status"
        >
          {% include "components/device-status.html" %}
        </div>
        <div
          class="font-mono"
        >
          {{device.name}}
        </div>
      </div>
      <div class="flex justify-end space-x-4">
        {%- if device.mac.is_some() -%}
        <button
          class="btn btn-xs btn-primary"
          style="z-index: 1;"
          hx-post="/wake/{{device.name}}"
          hx-swap="none"
        >
          Wake
        </button>
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="collapse-content">
    <ul>
      <li>
        MAC:
        {% if let Some(mac) = device.mac -%}
        {{mac}}
        {%- else -%}
        None
        {%- endif -%}
      </li>
      <li id="{{device.name}}-ip" sse-swap="{{device.name}}-ip">
        {% include "components/device-ip.html" %}
      </li>
    </ul>
  </div>
</div>
